.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.btn:hover{
    border: 1px solid #fff;
}

.count{
    width:100px;
    background-color:gray;
    font-size: 30px;
    border-radius: 10px;
    margin:auto;
    padding: 10px;
    margin-bottom: 30px;
}